{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
  <div class="container">
    <h2>Students</h2>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th scope="col">Parent</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
      </thead>

      <tbody>
      {% for parent in parent_list %}
        <tr>
          <td><a href="{{ parent.id }}">{{ parent.full_name }}</a></td>
          <td>{{ parent.email_address }}</td>
          <td>{{ parent.phone_number }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

