{% extends "base.html" %}
{% load static i18n %}
{% block title %}Student{% endblock %}

{% block content %}
  <h1>Create Student</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
      <div class="form-group col">
        {{ form.first_name.errors }} {# TODO: use full name instead of first/last#}
        <label for="{{ form.first_name.id_for_label }}">Student Name</label>
        <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}" placeholder="Student Name">
      </div>
      <div class="col">
        <label for="inputParentName">Parent Name</label>
        <input type="text" class="form-control" id="inputParentName" placeholder="Parent Name">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="col">
        <label for="inputPhoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="input_start_date">Start Date</label>
        <input type="date" class="form-control" id="input_start_date">
      </div>
      <div class="form-group col">
        <label for="input_primary_day">Primary Day</label>
        <select class="form-control" id="input_primary_day">
          {% for choice_id, choice_label in  form.primary_day.field.choices %}
            <option value="choice_id">{{ choice_label }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="input_math_level">Math Level</label>
        <select id="input_math_level" class="form-control">
          {% for choice_id, choice_label in form.math_level.field.choices %}
            <option value="choice_id">{{ choice_label }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col">
        <label for="input_reading_level">Reading Level</label>
        <select id="input_reading_level" class="form-control">
          {% for choice_id, choice_label in form.reading_level.field.choices %}
            <option value="choice_id">{{ choice_label }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label>How did you hear about Kumon?</label>
          {% for choice in form.how_choices %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label" for="someID" >{{ choice }}</label>
            </div>
          {% endfor %}
      </div>
      <div class="form-group col">
        <label>Why did you sign up for Kumon?</label>
        {% for choice in form.why_choices %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="someId">
            <label class="form-check-label" for="someID" >{{ choice }}</label>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-2">
        <label for="{{ form.registration_discount_reason.id_for_label }}">Reg. Discount</label>
        <input type="text" class="form-control" id="{{ form.registration_discount_reason.id_for_label }}" placeholder="0">
      </div>
      <div class="form-group col">
        {# TODO: Autopopulate this field #}
        <label for="{{ form.registration_discount_reason.id_for_label }}">Registration Discount Reason</label>
        <input type="text" class="form-control" id="{{ form.registration_discount_reason.id_for_label }}" placeholder="Registration Discount Reason">
      </div>
    </div>

    <div class="form-row">
      {#  TODO: need to make an API call here #}
      {#  TODO: Also, this cost stuff should probably be a table? #}
      <h5>Total Cost: </h5>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}

