{% extends "base.html" %}
{% load static i18n %}
{% block title %}Student{% endblock %}

{% block content %}
  <h1>Create Student</h1>
  <h2>Student Info.</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errs }}
    <div class="form-row">
      <div class="form-group col">
        <label for="{{ form.first_name.id_for_label }}">Student Name</label>
        <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}" placeholder="Student Name">
      </div>
      <div class="col">
        <label for="inputParentName">Parent Name</label>
        <input type="text" class="form-control" id="inputParentName" placeholder="Parent Name">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="col">
        <label for="inputPhoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="input_start_date">Start Date</label>
        <input type="date" class="form-control cost-input" id="input_start_date">
      </div>
      <div class="form-group col">
        <label for="input_primary_day">Primary Day</label>
        <select class="form-control" id="input_primary_day">
          {% for choice_id, choice_label in  form.primary_day.field.choices %}
            <option value="choice_id">{{ choice_label }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="input_math_level">Math Level</label>
        <select id="input_math_level" class="form-control cost-input">
          {% for choice_id, choice_label in form.math_level.field.choices %}
            <option value="{{ choice_id }}">{{ choice_label }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col">
        <label for="input_reading_level">Reading Level</label>
        <select id="input_reading_level" class="form-control cost-input">
          {% for choice_id, choice_label in form.reading_level.field.choices %}
            <option value="{{ choice_id }}">{{ choice_label }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      {# TODO: Fix the formatting on this #}
      <div class="form-group col">
        <label>How did you hear about Kumon?</label>
        {% for choice in form.how_choices %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label" for="someID">{{ choice }}</label>
          </div>
        {% endfor %}
      </div>
      <div class="form-group col">
        <label>Why did you sign up for Kumon?</label>
        {% for choice in form.why_choices %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="someId">
            <label class="form-check-label" for="someID">{{ choice }}</label>
          </div>
        {% endfor %}
      </div>
    </div>

    <h2>Cost</h2>
    <div class="form-row">
      <div class="form-group col-2">
        <label for="id_registration_discount">Reg. Discount</label>
        <input type="number" class="form-control cost-input" id="id_registration_discount" placeholder="0" value="0">
      </div>
      <div class="form-group col">
        {# TODO: Autopopulate this field #}
        <label for="id_registration_discount_reason">Registration Discount Reason</label>
        <input type="text" class="form-control" id="id_registration_discount_reason" placeholder="Registration Discount Reason">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Math</th>
            <th scope="col">Reading</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Registration</th>
            <td colspan="2" style="text-align:center;">$<span id="registration_cost">0</span></td>
          </tr>
          <tr>
            <th scope="row">Prorated 1st Month</th>
            <td>$<span id="math_prorated_cost">0</span></td>
            <td>$<span id="reading_prorated_cost">0</span></td>
          </tr>
          <tr>
            <th scope="row">6th Month</th>
            <td>$<span class="math-monthly-cost">0</span></td>
            <td>$<span class="reading-monthly-cost">0</span></td>
          </tr>
          <tr>
            <th scope="row">12th Month</th>
            <td>$<span class="math-monthly-cost">0</span></td>
            <td>$<span class="reading-monthly-cost">0</span></td>
          </tr>
          <tr class="table-dark">
            <th scope="row">Total Cost</th>
            <td colspan="2" style="text-align:center;">$<span id="total_cost">0</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h2>Payment Info.</h2>
    <div class="form-row">
      <div class="form-group col">
        <label for="{{ form.cash_paid.id_for_label }}">Cash Paid</label>
        <input type="number" class="form-control" id="{{ form.cash_paid.id_for_label }}" placeholder="0" value="0">
      </div>
      <div class="form-group col">
        <label for="{{ form.debit_paid.id_for_label }}">Debit Paid</label>
        <input type="number" class="form-control" id="{{ form.debit_paid.id_for_label }}" placeholder="0" value="0">
      </div>
      <div class="form-group col">
        <label for="{{ form.credit_paid.id_for_label }}">Credit Paid</label>
        <input type="number" class="form-control" id="{{ form.credit_paid.id_for_label }}" placeholder="0" value="0">
      </div>
      <div class="form-group col">
        <label for="{{ form.check_paid.id_for_label }}">Check Paid</label>
        <input type="number" class="form-control" id="{{ form.check_paid.id_for_label }}" placeholder="0" value="0">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-3 ml-auto">
        <label for="">Check Number</label>
        <input type="number" class="form-control" placeholder="0">
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
{% block pagejs %}
  <script>
    var costInfoURL = "{% url 'student_registration:cost-info' %}?";
  </script>
  <script src="{% static 'js/student_form.js' %}"></script>
{% endblock %}
