<div class="form-group col">
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="text-center">Math</th>
      <th scope="col" class="text-center">Reading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Registration</th>
      <td colspan="2" class="text-center">$<span id="registration_cost">0</span></td>
    </tr>
    <tr>
      <th scope="row">Prorated 1st Month</th>
      <td class="text-center">$<span id="math_prorated_cost" class="text-center">0</span></td>
      <td class="text-center">$<span id="reading_prorated_cost" class="text-center">0</span></td>
    </tr>
    <tr>
      <th scope="row">6th Month</th>
      <td class="text-center">$<span class="math-monthly-cost">0</span></td>
      <td class="text-center">$<span class="reading-monthly-cost">0</span></td>
    </tr>
    <tr>
      <th scope="row">12th Month</th>
      <td class="text-center">$<span class="math-monthly-cost" class="text-center">0</span></td>
      <td class="text-center">$<span class="reading-monthly-cost" class="text-center">0</span></td>
    </tr>
    <tr class="table-dark">
      <th scope="row">Total Cost</th>
      <td colspan="2" class="text-center">$<span id="total_cost">0</span></td>
    </tr>
    </tbody>
  </table>
</div>
