<div class="form-group col">
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Math</th>
      <th scope="col">Reading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Registration</th>
      <td colspan="2" style="text-align:center;">$<span id="registration_cost">0</span></td>
    </tr>
    <tr>
      <th scope="row">Prorated 1st Month</th>
      <td>$<span id="math_prorated_cost">0</span></td>
      <td>$<span id="reading_prorated_cost">0</span></td>
    </tr>
    <tr>
      <th scope="row">6th Month</th>
      <td>$<span class="math-monthly-cost">0</span></td>
      <td>$<span class="reading-monthly-cost">0</span></td>
    </tr>
    <tr>
      <th scope="row">12th Month</th>
      <td>$<span class="math-monthly-cost">0</span></td>
      <td>$<span class="reading-monthly-cost">0</span></td>
    </tr>
    <tr class="table-dark">
      <th scope="row">Total Cost</th>
      <td colspan="2" style="text-align:right;">$<span id="total_cost">0</span></td>
    </tr>
    </tbody>
  </table>
</div>
