{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block fluid-content %}
  <div class="container-fluid">
    <h2>Students <a class="btn btn-outline-primary btn-sm" role="button"
                    href="{% url 'student_registration:student-add' %}"
                    style="margin-top: 5px; margin-bottom: 15px;">+</a></h2>
    <form class="form-inline">
      <div class="form-group mb-3">
        <input type="text" class="form-control" id="id_custom_search" placeholder="Search">
      </div>
    </form>
    {% load render_table from django_tables2 %}
    {% render_table table %}
  </div>
{% endblock fluid-content %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/student_list.js' %}"></script>
{% endblock %}
